# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

commands:
  print-pipeline-id:
    description: "A command that prints the pipeline's id"
    parameters:
      id:
        type: string
    steps:
      - run: echo << parameters.id >>

jobs:

  create_infrastructure: 
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run:
            name: Create Cloudformation Stack
            command: |
              aws cloudformation deploy \
                --template-file template.yml \
                --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
                --region us-east-1

  configure_infrastructure: 
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - checkout
        # - add_ssh_keys:
        #         # You can get this ID in the section where you registered the SSH Key
        #         fingerprints: ["e4:87:36:67:4d:16:44:3b:b1:51:c6:92:fb:0c:4e:43"] 
        - run:
            name: Install Ansible
            command: |
              apk add --update ansible
        # - run:
        #     name: Get instance ip and set it in inventory
        #     command: |
        #       aws ec2 describe-instances --query 'Reservations[*].Instances[*].PublicIpAddress' --filters "Name=tag:Project,Values=udacity" --output text >> inventory
        - run:
            name: Run Playbook and Configure server
            command: |
              ansible-playbook main.yml -i inventory --private-key EC2_Key_3.pem

workflows:
  # Name the workflow "welcome"
  test-repo:
    # Run the welcome/run job in its own container
    jobs:
      # - create_infrastructure
      - configure_infrastructure
