# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

commands:
  print-pipeline-id:
    description: "A command that prints the pipeline's id"
    parameters:
      id:
        type: string
    steps:
      - run: echo << parameters.id >>

jobs:

  print-pipeline:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print-pipeline-id:
          id: << pipeline.id >>

  return-error:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: return 1
      - run:
          command: echo "Hello error"
          when: on_fail

workflows:
  # Name the workflow "welcome"
  hello-world:
    # Run the welcome/run job in its own container
    jobs:
      - return-error